<section class="tabuleiro">
  <div class="grade">
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
    <app-button>TESTE</app-button>
  </div>
</section>
